<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bicimad-TFG</title>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Bootstrap Core-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render(BundleConfig.Leaflet)

</head>
<body>

@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            @Html.ActionLink("Bicimad-TFG", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action(MVC.Account.LogOut())" class="btn btn-danger" data-cat="Register" data-act="Click" data-lab="Menu">Salir</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action(MVC.Account.Login())" class="btn btn-lg btn-login" data-cat="Register" data-act="Click" data-lab="Menu">Login</a>
                    </li>
                    <li>
                        <a href="@Url.Action(MVC.Account.Register())" class="btn" data-cat="Register" data-act="Click" data-lab="Menu">Registro</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>*@

<nav class="navbar default-color ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light" href="#">Bicimad-TFG</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#" class="waves-effect waves-light">Home <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-light">Estaciones</a>
                </li>
                
            </ul>
            <div class="navbar-btn navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action(MVC.Account.LogOut())" class="btn btn-danger waves-effect waves-light" data-cat="Exit" data-act="Click" data-lab="Menu">Salir</a>
                }
                else
                {
                    <a href="@Url.Action(MVC.Account.Login())" class="btn btn-info waves-effect waves-light" data-cat="Login" data-act="Click" data-lab="Menu">Login</a>


                    <a href="@Url.Action(MVC.Account.Register())" class="btn btn-primary waves-effect waves-light" data-cat="Register" data-act="Click" data-lab="Menu">Registro</a>
                }
            </div>
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer class="page-footer center-on-small-only">
        <div class="footer-copyright text-center rgba-black-light">
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year - Bicimad-TFG - Julio López & Manuel Gómez</p>
                @*http://www.MDBootstrap.com MDBootstrap.com*@ 
            </div>
        </div>
        
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>