<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zona Privada</title>
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Styles.Render(BundleConfig.Mdbootstrap)
    @*@Styles.Render(BundleConfig.NavbarCss)*@
</head>

<body>
    <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay"></div>

    <!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover green">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar toggle button -->
        <button type="button" class="sidebar-toggle">
            <i class="icon-material-sidebar-arrow"></i>
        </button>
        <!-- Sidebar brand image -->
        @*<div class="sidebar-image">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
        </div>*@
        <a class="sidebar-colored black-text" href="@Url.Action(MVC.Home.Index())"><h3>Bicimad-TFG</h3></a>
        
        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
            @ViewBag.UserName
            <b class="caret"></b>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu ">
                <li>
                    <a href="@Url.Action(MVC.Bike.Index())" tabindex="-1">
                        Coger Bici
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.Bike.ReturnIndex())" tabindex="-1">
                        Dejar Bici
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.Bike.Index())" tabindex="-1">
                        Reservar bici
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(MVC.Bike.ReturnIndex())" tabindex="-1">
                        Reservar anclaje
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action(MVC.User.Home.Index())">
                <i class="material-icons left">navigation</i>
                Trayectos
            </a>
        </li>
        <li>
            <a href="@Url.Action(MVC.User.Home.Index())">
                <i class="material-icons left">star</i>
                Estaciones favoritas
            </a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons left">account_balance_wallet</i>
                Saldo
            </a>
        </li>
        <li>
            <a href="@Url.Action(MVC.User.Home.ActiveRerservations())">
                <i class="material-icons left">today</i>
                Reservas activas
            </a>
        </li>
        <li class="divider"></li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->
    <!-- Sidebar text -->
    <!-- <div class="sidebar-text">Text</div> -->
</aside>
<div class=" container-fluid navbar-fixed-bottom">
    <footer class="page-footer center-on-small-only">
        <div class="footer-copyright text-center rgba-black-light">
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year - Bicimad-TFG - Julio López & Manuel Gómez</p>
                @*http://www.MDBootstrap.com MDBootstrap.com*@
            </div>
        </div>

    </footer>
</div>
    

    <div class="wrapper container">
            @Html.Partial(MVC.Shared.Views._Message)
            @RenderBody()
        
    </div>

    

    @Scripts.Render(BundleConfig.JQuery)
    @Scripts.Render(BundleConfig.BootstrapJs)
    @Scripts.Render(BundleConfig.ModernizerJs)
    @Scripts.Render(BundleConfig.NavbarJs)
    @RenderSection("scripts", required: false)
</body>
</html>