@model Bicimad.Web.Models.AccountModels.LoginModel
@{
    ViewBag.Title = "Log in";
}


<div class="center-block">

    <h1 class="h3">@ViewBag.Title</h1>
    
    <form action="@Url.Action(MVC.Account.Login())?ReturnUrl=@ViewBag.ReturnUrl" role="form" method="POST" class="btn-default">

        <div class="form-group">
            @Html.LabelFor(m => m.UserNameOrEmail)
            @Html.ValidationMessageFor(m => m.UserNameOrEmail)
            @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label class="form-inline form-group">
                @Html.CheckBoxFor(m => m.RememberMe) Recordarme?
            </label>
            <div class="btn-block pull-right bottom">
                <input type="submit" class="btn btn-primary btn-info" value="Iniciar sesión" />
            </div>
            <div>                
                <div>
                    <a href="@Url.Action(MVC.Account.Register())">Regístrate</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}