@using Bicimad.Resources
@model Bicimad.Web.Models.Account.LoginModel
@{
    ViewBag.Title = Resources.LoginTitle;
}

<!--Form-->
<div class="card-panel hoverable">
    <div class="row">
        <h5 class="text-center">@ViewBag.Title</h5>
        <hr>
        <form action="@Url.Action(MVC.Account.Login())?ReturnUrl=@ViewBag.ReturnUrl" role="form" method="POST" class="col-md-12">

            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                @Html.LabelFor(m => m.UserNameOrEmail)
                @Html.TextBoxFor(m => m.UserNameOrEmail, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.UserNameOrEmail)
            </div>

            <div class="input-field">
                <i class="material-icons prefix">https</i>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="input-field">
                <label class="form-inline input-field">
                    @Html.CheckBoxFor(m => m.RememberMe) @Resources.RememberMe
                </label>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-info" value="Iniciar sesión"/>
                </div>
                <div>
                    <div class="text-center">
                        <a href="@Url.Action(MVC.Account.Register())">@Resources.Submit</a>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>
<!--Reply section-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}