@using Bicimad.Web.Extensions
@model PagedList.StaticPagedList<Bicimad.Services.Query.Dto.Reservation.ReservationDto>

@{
    ViewBag.Title = "Reservas";
}

@if (Model != null && Model.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>Tipo</th>
            <th>Estacion</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>#Bicicleta</th>
            @*<th>Finalizado</th>*@
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                @if (user.Isbike)
                {
                    <td>Bicicleta</td>
                }
                else
                {
                    <td>Anclaje</td>
                }

                <td>
                    @user.StationName
                </td>

                <td>
                    @user.CreatedDate.ToShortDateString()
                </td>

                <td>
                    @user.CreatedDate.ToShortTimeString()
                </td>

                <td>
                    @user.ItemId
                </td>

                @*<td>
                        @if (user.Finished)
                        {
                            <label>
                                <input type="checkbox" checked disabled>
                            </label>
                        }
                        else
                        {
                            <label>
                                <input type="checkbox" disabled>
                            </label>
                        }
                    </td>*@

            </tr>
        }
    </table>

    @Html.GenericPager(Model, page => Url.Action(MVC.User.Home.Index(page)))
}
else
{
    <h2 class="h2-responsive">No tienes ninguna reserva activa.</h2>
}