@using Bicimad.Web.Extensions
@model PagedList.StaticPagedList<Bicimad.Services.Query.Dto.Reservation.ReservationDto>

@{
    ViewBag.Title = "Reservas";
}

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Type</th>
            <th>Station</th>
            <th>Date</th>
            <th>Time</th>
            <th>Bike#</th>
            @*<th>Finalizado</th>*@
        </tr>
        @{string userId = ViewBag.UserId;}
        @foreach (var user in Model)
        {
            <tr>
                @if (user.Isbike)
                {
                    <td><a href="@Url.Action(MVC.Bike.RemoveBikeReservation(userId, user.StationId))"><i class="material-icons left">delete</i></a></td>
                    <td>Bike</td>
                }
                else
                {
                    <td><a href="@Url.Action(MVC.Station.RemoveSlotReservation(userId,user.StationId))" class="btn btn-default btn-small"><i class="material-icons left">delete</i></a></td>
                    <td>Slot</td>
                }

                <td>
                    @user.StationName
                </td>

                <td>
                    @user.CreatedDate.ToShortDateString()
                </td>

                <td>
                    @user.CreatedDate.ToShortTimeString()
                </td>

                <td>
                    @user.ItemId
                </td>

                @*<td>
                        @if (user.Finished)
                        {
                            <label>
                                <input type="checkbox" checked disabled>
                            </label>
                        }
                        else
                        {
                            <label>
                                <input type="checkbox" disabled>
                            </label>
                        }
                    </td>*@

            </tr>
        }
    </table>

    @Html.GenericPager(Model, page => Url.Action(MVC.User.Home.Index(page)))
}
else
{
    <h2 class="h2-responsive">No active reservations.</h2>
}